<div class="row">
  <div class="col s12 m8 push-m2 l8 push-l2">
    <div class="card hoverable blue-grey darken-1">
      <div class="card-title" style="padding-left: 15px;">
        <%= link_to topic.pageTitle, topic.link %>
      </div>
      <div class="card-content white-text">
        <p><%= topic.description %></p>
      </div>
      <div class="card-action">

        <div class="row valign-wrapper">
          <div class="col s10 white-text valign">
            Posted By &nbsp; <%= link_to topic.user.name, topic.user %><%= time_ago_in_words(topic.created_at) %> ago
          </div>
          <div class="col s2" style="padding: 0px;">
            <% if current_user?(topic.user) %>
                <%= link_to "delete", topic_path(topic), class: 'waves-effect waves-light red btn right' , method: :delete, data: {confirm: "You sure?"} %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
