<% provide :title, 'Topics' %>
<div class="container flash-messages">
  <div class="row">
    <div class="container ">
      <!--DOC: This is used to render any type of error or alert messages-->
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<% if @topic_feed.any? %>

    <div class="row center">
      <div class="col s12">
        <%= will_paginate @topic_feed %>
      </div>
    </div>

      <%= render @topic_feed %>

    <div class="row center">
      <div class="col s12">
        <%= will_paginate @topic_feed %>
      </div>
    </div>
<% end %>
