<% provide :title, 'New Link' %>

<div class="container">
  <%= form_for(@topic) do |f| %>
      <div class="row blank">
          <h3 class="center-align">Creat a new post !</h3>
      </div>

      <div class="row">
        <div class="input-field col s12 m8 push-m2 l6 push-l3">
          <%= f.text_field :pageTitle, placeholder: 'Title of the post', class: 'validate' %>
          <%= f.label :pageTitle, 'Title', for: 'topics_pageTitle' %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m8 push-m2 l6 push-l3">
          <%= f.text_field :link, placeholder: 'Link to something interesting', class:'validate', required: true %>
          <%= f.label :link, for: 'topics_link' %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m8 push-m2 l6 push-l3">
          <%= f.text_area :description, placeholder: 'Description or info about the link !', class: 'materialize-textarea', required: true %>
          <%= f.label :description, for: 'topics_description' %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m8 push-m2 l6 push-l3">
          <%= button_tag(type: 'submit', class: 'btn waves-effect waves-light') do %>
              <i class="material-icons right">mail</i>Create
          <% end %>
        </div>
      </div>
  <% end %>
</div>