<% provide(:title, 'Sign Up') %>

<div class="container" id="form-placement">

  <%= form_for(@user) do |f| %>
      <div class="row">
        <div class="six columns">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: 'Your user name', class: 'text-box-style' %>
        </div>
        <div class="six columns">
          <%= f.label :email %>
          <%= f.email_field :email, placeholder: 'example@goo.com', class: 'text-box-style' %>
        </div>
      </div>

      <div class="row">
        <div class="six columns">
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: 'Password', class: 'text-box-style' %>
        </div>


        <div class=" six columns">
          <%= f.label :password_confirmation, "Password Confirmation" %>
          <%= f.password_field :password_confirmation, placeholder: 'Password confirmation', class: 'text-box-style' %>
        </div>
      </div>
      <div class="row">
        <div class="six columns offset-by-two">
          <%= f.submit "Create my account", class: 'button button-primary' %>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <%= render 'shared/error_messages', object: f.object %>
        </div>
      </div>
  <% end %>
</div>