<header>
  <div class="container">
    <div class="three columns">
      <%= link_to 'MakerDen', root_path, id: 'name', class: 'u-pull-left' %>
    </div>
    <div class="nine columns">
      <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-item">
            <%= link_to('Join Now', signup_path, class: 'navbar-link') if !logged_in? %>
          </li>

          <% if logged_in? %>
              <li class="navbar-item"> <%= link_to 'Log Out', logout_path, class: 'navbar-link', method: :delete %></li>
              <li class="navbar-item"><%= link_to 'Me', @current_user, class: 'navbar-link' %></li>
              <li class="navbar-item"><%= link_to 'New topic', new_topic_path, class: 'navbar-link' %></li>
          <% else %>
              <li class="navbar-item"><%= link_to 'Log in', login_path, class: 'navbar-link' %></li>
          <% end %>

        </ul>
      </nav>
    </div>
  </div>
</header>